 
pandas
numpy
scikit-learn
matplotlib
seaborn
transformers
datasets
torch
shap
joblib
nltk
nltk.corpus.stopwords
nltk.tokenize
nltk.stem.WordNetLemmatizer
matplotlib.pyplot
wordcloud
sklearn.model_selection
sklearn.feature_extraction.text
fastapi
uvicorn
streamlit
requests
pytest
python-multipart
